:root {
    --color1: #eebb12;
    --color2: #ffffff;
    --color3: #111;
    --color4: #000000;
}
/* Цвета */
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.bg1 {
    background-color: var(--color3);
}
.bg2 {
    background-color: var(--color4);
}
p {
    font-size: 18px;
}
section {
    padding: 100px 0;
}
header, .about, .schedule, .buy {
    background-color: var(--color3);
}
.author, .forwhom, .FAQ, footer {
    background-color: var(--color4);
}
/* Заголовок */
header {
    background: url(https://morphismail.github.io/super_javascript/img/pattern.png) var(--color3);
    padding: 145px 0;
}
.btn-myjs {
    background-color: var(--color1);
    font-weight: 500;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
.btn-myjs:hover {
    background-color: #b99728;
}
/* Об авторе */
.author {
    padding-bottom: 0;
}
/* О курсе */
.js-circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}
.jsvideo {
    width: 100%;;
    max-width: 560px; 
    height: 315px;
}
/* Программа курса */
.accordion-button:not(.collapsed) {
    background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* FAQ */
a {
    color: var(--color1);
}
a:hover, a:focus {
    color: #b99728;
}
/* Подвал */
footer {
    padding: 50px 0;
}
#footer a {
    color: var(--color2);
    font-size: 18px;
}
#footer .mail_link {
    text-decoration: none;
    color: var(--color1);
    padding-bottom: 1px;
    border-bottom: 1px solid var(--color1);
}
